p{
  font-family: arial;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
}
.n{
  color: red;
  font-weight: bold;
}
.mac{
  font-weight: bold;
  font-size: 32px;
}
.pro{
  font-weight: bold;
  font-size: 50px;
}
.monay{
  font-weight: bold;
}
.buy{
  background-color: rgb(0, 102, 255);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 60px;
  margin-left: 736px;
}
.buy:hover{
  cursor: pointer;
}