.t{
  width:50px;
  height:50px;
  border-radius: 25px;
  vertical-align: middle;
  object-fit: cover;
  margin-right: 5px;
}
.text{
  width: 300px;
  font-family: Roboto;
  font-size: 18px;
  border: none;
}
.tweet{
  font-family: Roboto;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 18px;
  background-color: rgb(0, 140, 255);
  border: none;
  color: white;
  font-weight: bold;
}
.tweet:hover{
  cursor: pointer;
}
.tweet:active{
  opacity: 0.8;
  transition: 0.3s;
}